@model IEnumerable<BusinessInterop.Data.LendingDto>

@{
    ViewData["Title"] = "Выдачи";
}

<br />

<h2 style="font-size:x-large; color:#dda0dd;">Выдачи</h2>

<hr />

<div class="container" style="border-radius: 5px">
            <div align="center">
                @Html.ActionLink("Добавить", "Create", "Lending", null, new { @class = "btn btn-outline-primary" })
            </div>
</div>

<div class="main" style="display:flex; flex-direction:row; align-content:center; flex-wrap:wrap; padding:5px;">
    @foreach (var item in Model)
    {

    <div style="width:150px; height:250px; margin:5px; border:2px solid #dda0dd; ">
        <p style="text-align:center">@item.Example.Book.Name</p>
        <p style="text-align:center"> @item.Reader.Name</p>
        <p style="text-align:center">@item.Start</p>
        <p style="text-align:center">@item.End</p>
        <p style="text-align:center">@item.Librarian.Name</p>
        <div align="center">
            @Html.ActionLink("Редактировать", "Update", new { id = item.Id }, null)
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, null)
        </div>
    </div>

        
    }
</div>